.principalLogin {
    background-color: var(--cor-de-fundo2);
}
.cabecalho {
   font-size: 30px;
   font-family: var(--fonte-secundaria);
   color: var(--cor-secundaria);
   margin: 6rem 1rem 2rem 1rem;
   font-weight: 500;
}

.principal__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.input-container{
    position: relative;
    width: 300px;
}
.input-container label {
    font-family: var(--fonte-secundaria);
    position: absolute;
    top: -5px; 
    left: 15%; 
    padding: 0 5px; 
    font-size: 15px;
    color: var(--cor-de-fonte);
    background-color:  var(--cor-de-fundo2);
    font-weight: 400;
  }
  
  .input-wrapper {
    margin: 0 1rem 1rem .5rem;
    display: flex;
    align-items: center;
    background-color: transparent; 
    border: 2px solid var(--cor-de-fonte);
    border-radius: 2rem;
    padding: .8rem .5rem;
  }
  
  .input-wrapper input {
    border: none;
    outline: none;
    flex-grow: 1;
    font-size: 16px;
    color: var(--cor-de-fonte);
    background: transparent; 
    font-weight: bold;
  }
  
  /* Placeholder estilizado */
  .input-wrapper input::placeholder {
    color: var(--cor-de-fonte); 
    opacity: 0.8;
  }
    
  /* Efeito de foco */
  .input-wrapper input:focus {
    outline: none;
  }
.botao__login{
    padding: 1rem 10rem;
    margin: .5rem .5rem .5rem 0.3rem;
    text-decoration: none;
    text-align: center;
    color: var(--cor-secundaria2);
    background: var(--cor-de-fundo3);
    border-radius: 2rem;
    font-family: var(--fonte-secundaria);
    font-weight: 600;

}
.container__imagens{
  display: flex;
  justify-content: center;
  margin-top: 20%;
}
.redes-sociais{
  width: 50%;
}
.botao__cadastro{
  padding: 1rem 10.5rem;
    margin: .5rem .5rem .5rem .5rem;
    text-decoration: none;
    text-align: center;
    color: var(--cor-secundaria2);
    background: var(--cor-de-fundo3);
    border-radius: 2rem;
    font-family: var(--fonte-secundaria);
    font-weight: 600;
    
}
.politica-privacidade{
  color: var(--cor-de-link);
  margin: 0rem .5rem 0 1rem;
  font-family: var(--fonte-secundaria);
  font-weight: 400;
  font-size: 12px;
}
.link__politica{
  color: var(--cor-de-link);
  text-decoration: underline;
}
.rodape {
    height: auto;
}