@import url('reset.css');
@import url('home.css');
@import url('login.css');
@import url('cadastro.css');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Poppins:wght@300;400;500;700&display=swap');
:root {
    --cor-de-fundo: #A658A1;
    --cor-de-fundo2: #F2C9E0;
    --cor-de-fundo3:#590C29;
    --cor-de-titulo: rgb(166, 219, 255);
    --cor-de-fonte: #590C29;
    --cor-secundaria: rgb(0, 0, 0);
    --cor-secundaria2: rgb(240, 217, 217);
    --fonte-primaria: "Cinzel";
    --fonte-secundaria: "Poppins";
    --fonte-terciaria:"Josefin Sans";
    --cor-de-link: rgb(125, 123, 123);
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-primaria);
    font-size: 16px;
    font-weight: 400;
}