.principalLogin {
    background-color: var(--cor-de-fundo2);
}
.cabecalho {
   font-size: 30px;
   font-family: var(--fonte-secundaria);
   color: var(--cor-secundaria);
   margin: 1rem;
   margin-top: 6rem;
}

.principal__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.input-container{
    position: relative;
    width: 300px;
}
.input-container label {
    position: absolute;
    top: -10px; /* Ajuste para posicionar na borda */
    left: 50%;
    transform: translateX(-50%);
    background-color: #f3cce0; /* Mesma cor do fundo */
    padding: 0 5px; /* Espaço em volta do texto */
    font-size: 12px;
    color: #6e1e35; /* Cor do texto */
    font-weight: bold;
  }

  /* Wrapper do input e checkmark */
.input-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    background-color: #f3cce0; /* Fundo do input */
    border: 2px solid #6e1e35; /* Borda */
    border-radius: 30px; /* Arredondamento total */
    padding: 10px 15px;
    padding-top: 15px; /* Espaço extra para o label */
  }
  
  /* Estilo do input */
  .input-wrapper input {
    border: none;
    outline: none;
    flex-grow: 1;
    font-size: 16px;
    color: #6e1e35; /* Cor do texto */
    background: transparent; /* Fundo transparente */
    font-weight: bold;
  }
  
  /* Placeholder estilizado */
  .input-wrapper input::placeholder {
    color: #6e1e35; /* Mesma cor do texto */
    opacity: 0.8;
  }
    
  /* Efeito de foco */
  .input-wrapper input:focus {
    outline: none;
  }

.rodape {
    height: auto;
}