<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" th:href="@{/css/estilo.css}">
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <title>Cadastro salvo!</title>
</head>

<body>
    <header>
        <div class="container__imagem">
            <img class="perfil" th:src="@{/images/concluido.svg}" alt="Logo">
        </div>
    </header>
    <main>
        <figure>
            <img class="cadastro-salvo" th:src="@{/images/concluido-icon.svg}" alt="Logo">
            <figcaption>
                <h3 class="legenda-sucesso">Cadastro salvo com sucesso!</h3>
            </figcaption>
        </figure>
        
    </main>
    <footer>
        <form class="sair" method="post" th:action="@{/logout}">
            <input class="botao__cadastro bnt-sair" type="submit" name="sair" id="sair" value="Sair" />
            <img class="rodape" th:src="@{/images/inicial-rodape.svg}" alt="Logo">
        </form>
    </footer>
</body>

</html>