<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" th:href="@{/css/estilo.css}">
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <title>Cadastre teu empreendimento</title>
</head>

<body>
    <main>
        <form method="POST" th:action="@{cadastro_empreendimento}" th:object="${empreendimento}">


            <label for="dcrNomeFantasia">Digite o nome fantasia do empreendimento</label>
            <input type="text" th:field="*{dcrNomeFantasia}" name="dcrNomeFantasia" id="dcrNomeFantasia">

            <label for="dcrEndereco">Digite o endereço do empreendimento</label>
            <input type="text" th:field="*{dcrEndereco}" name="dcrEndereco" id="dcrEndereco">

            <label for="dcrComplemento">Digite o complemento do empreendimento</label>
            <input type="text" th:field="*{dcrComplemento}" name="dcrComplemento" id="dcrComplemento">

            <label for="numCep">Digite o CEP do empreendimento</label>
            <input type="number" th:field="*{numCep}" name="numCep" id="numCep">

            <select th:object="${empreendimento}" th:field="*{cidade}">
                <option th:each="c : ${cidade}" th:value="${c.codCidade}" th:text="${c.dcrCidade}"
                    th:name="${c.codCidade}" th:id="${c.codCidade}"></option>
            </select>

            <select th:field="*{bairro}">
                <option th:each="b : ${bairro}" th:value="${b.codBairro}" th:text="${b.dcrBairro}"
                    th:name="${b.codBairro}" th:id="${b.codBairro}"></option>
            </select>

            <select th:field="*{localidade}">
                <option th:each="l : ${localidade}" th:value="${l.codLocalidade}" th:text="${l.dcrLocalidade}"
                    th:name="${l.codLocalidade}" th:id="${l.codLocalidade}"></option>
            </select>

            <button>Cadastrar</button>
        </form>
        <form method="post" th:action="@{/logout}">
            <label for="sair">Sair:</label>
            <input type="submit" name="sair" id="sair" value="Logout" />
        </form>
    </main>
</body>
<script>

</script>

</html>