<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" th:href="@{/css/estilo.css}">
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <title>Cadastro salvo!</title>
</head>

<body>
    <main>
        <h1>Cadastro Salvo com sucesso!</h1>
        <form class="sair" method="post" th:action="@{/logout}">
            <label for="sair">Sair:</label>
            <input class="bnt__sair" type="submit" name="sair" id="sair" value="Logout" />
        </form>
    </main>
</body>

</html>