<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" th:href="@{/css/estilo.css}">
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <title>Bem-Vindo</title>
</head>

<body class="principalLogin">
    <header class="cabecalho">
        <h1>Cadastre-se</h1>
    </header>
    <main class="principal__container">
        <form method="POST" th:action="@{/cadastro}">
            <div class="input-container">
                <label for="nomeFuncionario">Nome:</label>
            </div>

            <div class="input-wrapper">
                <input type="text" id="nomeFuncionario" name="nomeFuncionario" /><br />
            </div>

            <div class="input-container">
                <label for="dcrEmail">Email:</label>
            </div>

            <div class="input-wrapper">
                <input type="text" id="dcrEmail" name="dcrEmail" /><br />
            </div>

            <div class="input-container">
                <label for="dcrCpf">CPF:</label>
            </div>
            <div class="input-wrapper">
                <input type="text" id="dcrCpf" name="dcrCpf" /><br />
            </div>

            <div class="input-container">
                <label for="numTelefone">Telefone:</label>
            </div>
            <div class="input-wrapper">
                <input type="text" id="numTelefone" name="numTelefone" /><br />
            </div>

            <div class="input-container">
                <label for="senhaFuncionario">Senha:</label>
            </div>
            <div class="input-wrapper">
                <input type="password" id="senhaFuncionario" name="senhaFuncionario" /><br />
            </div>

            <div class="input-container">
                <label for="senhaConfirma">Confirme a senha:</label>
            </div>
            <div class="input-wrapper">
                <input type="password" id="senhaConfirma" name="senhaConfirma" /><br />
            </div>
            <button class="botao__cadastro" type="submit">Cadastrar</buton>
        </form>
    </main>
    <footer>
        <h3 class="politica-privacidade">Ao continuar, você concorda em receber comunicações do Tá pronto. Confira nossa
            <b class="link__politica">Declaração de
                Privacidade</b>.
        </h3>
        <div class="container__imagens">
            <img class="redes-sociais" th:src="@{/images/social-icons.svg}" alt="Logo">
            <img class="rodape" th:src="@{/images/inicial-rodape2.svg}" alt="Logo">
        </div>
        </main>
</body>

</html>