<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" th:href="@{/css/estilo.css}">
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <title>Cadastre teu empreendimento</title>
</head>

<body class="principalLogin">
    <header>
        <div class="container__imagem">
            <img class="perfil" th:src="@{/images/perfil.svg}" alt="Logo">
        </div>

        <figure>
            <img class="adicionar-foto" th:src="@{/images/nova-foto.svg}" alt="Logo">
            <figcaption>
                <h3 class="legenda">ADICIONAR LOGO DA LOJA</h3>
            </figcaption>
        </figure>
    </header>

    <main>
        <form method="POST" th:action="@{cadastro_empreendimento}" th:object="${empreendimento}">
            <div class="input-container">
                <label for="dcrNomeFantasia">NOME FANTASIA</label>
            </div>
            <div class="input-wrapper loja">
                <input type="text" th:field="*{dcrNomeFantasia}" name="dcrNomeFantasia" id="dcrNomeFantasia">
            </div>

            <div class="input-container">
                <label for="dcrEmpreendimento">NOME</label>
            </div>

            <div class="input-wrapper loja">
                <input type="text" th:field="*{dcrEmpreendimento}" name="dcrEmpreendimento" id="dcrEmpreendimento">
            </div>

            <div class="input-container ">
                <label for="dcrEndereco">ENDEREÇO</label>
            </div>
            <div class="input-wrapper loja">
                <input type="text" th:field="*{dcrEndereco}" name="dcrEndereco" id="dcrEndereco">
            </div>

            <div class="input-container">
                <label for="dcrComplemento">COMPLEMENTO</label>
            </div>
            <div class="input-wrapper loja">
                <input type="text" th:field="*{dcrComplemento}" name="dcrComplemento" id="dcrComplemento">
            </div>

            <div class="input-container">
                <label for="numCep">CEP</label>
            </div>
            <div class="input-wrapper loja loja__cep">
                <input type="number" th:field="*{numCep}" name="numCep" id="numCep">
            </div>

            <div class="container__select">

                <select class="select" th:field="*{localidade}">
                    <option th:each="l : ${localidade}" th:value="${l.codLocalidade}" th:text="${l.dcrLocalidade}"
                        th:name="${l.codLocalidade}" th:id="${l.codLocalidade}"></option>
                </select>
                <select class="select" th:field="*{bairro}">
                    <option th:each="b : ${bairro}" th:value="${b.codBairro}" th:text="${b.dcrBairro}"
                        th:name="${b.codBairro}" th:id="${b.codBairro}"></option>
                </select>

                <select class="select" th:object="${empreendimento}" th:field="*{cidade}">
                    <option th:each="c : ${cidade}" th:value="${c.codCidade}" th:text="${c.dcrCidade}"
                        th:name="${c.codCidade}" th:id="${c.codCidade}"></option>
                </select>
            </div>

            <button class="botao__cadastro">Cadastrar</button>
        </form>
        <form class="sair" method="post" th:action="@{/logout}">
            <label for="sair">Sair:</label>
            <input class="bnt__sair" type="submit" name="sair" id="sair" value="Logout" />
        </form>
    </main>
    <footer>
        <img class="rodape" th:src="@{/images/inicial-rodape2.svg}" alt="Logo">
    </footer>

</body>
<script>

</script>

</html>