<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" th:href="@{/css/estilo.css}">
    <link rel="stylesheet" th:href="@{/css/reset.css}">

    <title>TaPronto</title>
</head>

<body>
    <header>
    </header>

    <main>
        <div class="principal">
            <img class="imagem__logo" th:src="@{/images/logo.svg}" alt="Logo">
            <h2 class="sub_titulo">Pede já ai.</h2>
        </div>
        <div class="principal">
            <a class="botao__comecar" th:href="@{/login}">COMEÇAR</a>
        </div>
    </main>
    <footer>
        <img class="rodape" th:src="@{/images/inicial-rodape.svg}" alt="Logo">
    </footer>

</body>

</html>