<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" th:href="@{/css/estilo.css}">
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <title>TaPronto - Login</title>
</head>

<body class="principalLogin">
    <header class="cabecalho">
        <h2>Entrar</h2>
    </header>

    <main class="principal__container">

        <form method="post" th:action="@{/login}" id="loginForm" class="loginForm">
            <div class="input-container">
                <label for="dcrEmail">EMAIL</label>
            </div>

            <div class="input-wrapper">
                <input type="email" name="dcrEmail" id="dcrEmail" /><br />
            </div>

            <div class="input-container">
                <label for="senhaFuncionario">SENHA</label>
            </div>

            <div class="input-wrapper">
                <input type="password" name="senhaFuncionario" id="senhaFuncionario" /><br />
            </div>

            <input class="botao__login" type="submit" value="ENTRAR" />
        </form>
        <div th:if="${mensagem_erro}" th:text="${mensagem_erro}"></div>
        <div class="container__imagens">
            <img class="redes-sociais" th:src="@{/images/social-icons.svg}" alt="Logo">
        </div>
    </main>

    <footer>
        <a class="botao__cadastro-empreendedor" th:href="@{/cadastro}">Quero me cadastrar como empreendedor</a>
        <img class="rodape" th:src="@{/images/inicial-rodape2.svg}" alt="Logo">

    </footer>
</body>

</html>